<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
      <basicHttpBinding>
          <binding name="AuthorServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="AuthorServiceSoap1" />
          <binding name="CategoryServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="CategoryServiceSoap1" />
          <binding name="PaginationServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="PaginationServiceSoap1" />
          <binding name="PublishServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="PublishServiceSoap1" />
          <binding name="SupplierServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="SupplierServiceSoap1" />
          <binding name="SliderServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="SliderServiceSoap1" />
          <binding name="BookServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="BookServiceSoap1" />
          <binding name="UserServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="UserServiceSoap1" />
          <binding name="GoogleServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="GoogleServiceSoap1" />
          <binding name="OrderServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="OrderServiceSoap1" />
          <binding name="CommentServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="CommentServiceSoap1" />
          <binding name="StatisticalServiceSoap">
              <security mode="Transport" />
          </binding>
          <binding name="StatisticalServiceSoap1" />
      </basicHttpBinding>
  </bindings>
		<client>
      <endpoint address="https://localhost:44393/AuthorService.asmx"
          binding="basicHttpBinding" bindingConfiguration="AuthorServiceSoap"
          contract="AuthorService.AuthorServiceSoap" name="AuthorServiceSoap" />
      <endpoint address="https://localhost:44393/BookService.asmx"
          binding="basicHttpBinding" bindingConfiguration="BookServiceSoap"
          contract="BookService.BookServiceSoap" name="BookServiceSoap" />
      <endpoint address="https://localhost:44393/CategoryService.asmx"
          binding="basicHttpBinding" bindingConfiguration="CategoryServiceSoap"
          contract="CategoryService.CategoryServiceSoap" name="CategoryServiceSoap" />
      <endpoint address="https://localhost:44393/CommentService.asmx"
          binding="basicHttpBinding" bindingConfiguration="CommentServiceSoap"
          contract="CommentService.CommentServiceSoap" name="CommentServiceSoap" />
      <endpoint address="https://localhost:44393/GoogleService.asmx"
          binding="basicHttpBinding" bindingConfiguration="GoogleServiceSoap"
          contract="GoogleService.GoogleServiceSoap" name="GoogleServiceSoap" />
      <endpoint address="https://localhost:44393/OrderService.asmx"
          binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap"
          contract="OrderService.OrderServiceSoap" name="OrderServiceSoap" />
      <endpoint address="https://localhost:44393/PaginationService.asmx"
          binding="basicHttpBinding" bindingConfiguration="PaginationServiceSoap"
          contract="PaginationService.PaginationServiceSoap" name="PaginationServiceSoap" />
      <endpoint address="https://localhost:44393/PublishService.asmx"
          binding="basicHttpBinding" bindingConfiguration="PublishServiceSoap"
          contract="PublishService.PublishServiceSoap" name="PublishServiceSoap" />
      <endpoint address="https://localhost:44393/SliderService.asmx"
          binding="basicHttpBinding" bindingConfiguration="SliderServiceSoap"
          contract="SliderService.SliderServiceSoap" name="SliderServiceSoap" />
      <endpoint address="https://localhost:44393/StatisticalService.asmx"
          binding="basicHttpBinding" bindingConfiguration="StatisticalServiceSoap"
          contract="StatisticalService.StatisticalServiceSoap" name="StatisticalServiceSoap" />
      <endpoint address="https://localhost:44393/SupplierService.asmx"
          binding="basicHttpBinding" bindingConfiguration="SupplierServiceSoap"
          contract="SupplierService.SupplierServiceSoap" name="SupplierServiceSoap" />
      <endpoint address="https://localhost:44393/UserService.asmx"
          binding="basicHttpBinding" bindingConfiguration="UserServiceSoap"
          contract="UserService.UserServiceSoap" name="UserServiceSoap" />
  </client>
	</system.serviceModel>
</configuration>